<script type="text/javascript" src="/js/clinicr_search.js"></script>

<div class="sub_section_title"><%=@title%></div>
<div id="form_section">
<form method="post" action="<%=@form_action%>" location="#<%=@post_submit_location%>" id="<%=@form_id%>" name="overlay_form">
    <table id="overlay_form_table">
      <%
      @fields_array_display.each do |field|
      %>
      <tr>
        <td><%=field%></td>
        <td><<%=@field_type%> name="<%=@fields_array_actual[@fields_array_display.index(field)]%>"/></td>
      </tr>
      <%end%>
      <%
      unless @hidden_fields == nil then
        @hidden_fields.each do |hidden_field|
        %>
        <input type="hidden" name="<%=hidden_field[:name]%>" value="<%=hidden_field[:value]%>">
        <%end
      end%>
      <tr>
        <td>
        <td>
          <input type="submit" value="<%=@submit_button_text%>">
          <button onclick="hideOverlay();return false;">Close</button>
        </td>
      </tr>
    </table>
  </form>
</div>